@import "mixins/mixins";

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  &.scrolled {
    background-color: #fff;
    .menu {
      .items {
        .item {
          a {
            color: #000;
          }
        }
      }
    }
    .phone-info {
      color: #000;

      .phone-links, .email {
        color: #000;
        a {
          color: #000;
        }
      }
    }
  }
  .menu {
    .items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      .item {
        a {
          font-size: 16px;
          color: #fff;
          border-bottom: 1px solid transparent;
          padding: 5px 10px;
          text-decoration: none;
          &:hover {
            border-color: #fff;
          }
        }
      }
    }
  }
  .social-links {
    width: 140px;
    min-width: 140px;
    font-size: 0;
    .item {
      display: inline-block;
      a {
        display: block;
      }
    }
  }
  .phone-info {
    color: #fff;
    min-width: 180px;
    .phone-number {
      font-size: 20px;
      line-height: 150%;
      font-weight: 600;
    }
    .phone-links, .email {
      font-size: 14px;
      line-height: 150%;
      color: #adccf5;
      a {
        color: #adccf5;
      }
    }
  }
}

.block {
  width: 100%;
  float: left;
  .container-box {
    width: 1200px;
    margin: 0 auto;
  }
}

.block--first-about {
  background-image: url("../images/bg-block--first-about.jpg");
  height: 100vh;
  min-height: 638px;
  padding-top: 100px;
  position: relative;
  .container-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .popup-info {
    background-color: rgba(45, 79, 125, .8);
    padding: 60px 48px;
    color: #fff;
    line-height: 100%;
    width: 50%;
    .title {
      font-size: 60px;
      font-weight: 500;
      color: #fff;
      line-height: 100%;
      margin-bottom: 12px;
    }
    .sub-title {
      font-size: 18px;
      color: #438ef4;
      line-height: 100%;
      margin-bottom: 40px;
      padding-right: 32px;
    }
    .description {
      font-size: 22px;
      font-weight: 300;
      line-height: 100%;
      margin-bottom: 40px;
    }
  }
  .arrow-action {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 36px;
    width: 52px;
  }
}

.block--block-two {
  background-image: url("../images/bg1.jpg");
  background-size: cover;
  height: 100vh;
}

.block--block-three {
  background-image: url("../images/bg2.jpg");
  background-size: cover;
  height: 100vh;
}

.block--block-four {
  background-image: url("../images/bg3.jpg");
  background-size: cover;
  height: 100vh;
}