@import "font/fonts";

body {
  font-family: 'Lato', 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 100%;
}
a {
  text-decoration: none;
}

@import "blocks";
@import "cube-transition";
@import "components";
@import "form";
@import "button";
@import "icons";