@charset "UTF-8";
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v16/0eC6fl06luXEYWpBSJvXCBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v16/Fl4y0QdOxyyTHEGMXX8kcRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v16/-L14Jk06m6pUHB-5mXQQnRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v16/I3S1wsgSg9YCurV6PUkTORJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0370-03FF; }
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v16/NYDWBdD4gIq26G5XYbHsFBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v16/Pru33qjShpZSmG3z6VYwnRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v16/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v16/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v16/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v16/-2n2p-_Y08sg57CNWQfKNvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v16/u0TOpm082MNkS5K0Q4rhqvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0370-03FF; }
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v16/NdF9MtnOpLzo-noMoG0miPesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v16/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v16/ZLqKeelYbATG60EpZBSDyxJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v16/oHi30kwQWvpCWqAhzHcCSBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v16/rGvHdJnr2l75qb0YND9NyBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v16/mx9Uck6uB63VIKFYnEMXrRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0370-03FF; }
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v16/mbmhprMH69Zi6eEPBYVFhRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v16/oOeFwZNlrTefzLYmlVV1UBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v16/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v16/77FXFjRbGzN4aCrSFhlh3hJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v16/isZ-wbCXNKAbnjo6_TwHThJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v16/UX6i4JxQDm3fVTc1CPuwqhJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v16/jSN2CGVDbcVyCnfJfjSdfBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0370-03FF; }
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v16/PwZc-YbIL414wB9rB1IAPRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v16/97uahxiqZRoncBaCEI3aWxJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nE8xhg-WlD4iG4AP-V7QxYA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }
/* cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nN_eC2PfU-cUGGN7U-FIfKc.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* greek-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nLvM2QJLsjx6Keu1D2MYodo.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }
/* greek */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nNd5cRMOq5PeG3VabknWPxo.woff2) format("woff2");
  unicode-range: U+0370-03FF; }
/* vietnamese */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nLpX8dGXLalyu5OokvgDQcs.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nPVFL0ofnRu5Y2lP-UpEUGU.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nBBQ_Gf4FfI8J4SYljBAylk.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsDrvev4WAjW489CRDHIkJ90.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }
/* cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsCGXDOnx9ptx3UTSPTrfsgk.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* greek-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsAZ98xO_Wnt-JIem4AuLGfs.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }
/* greek */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsE1G989qbVg6RT5ly5jB8V8.woff2) format("woff2");
  unicode-range: U+0370-03FF; }
/* vietnamese */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsJ84zb0nVte6liF9gGtpo1Y.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsD86pq2NkPzVgw_9lpT6RGI.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsDAdhzWOYhqHvOZMRGaEyPo.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nDW5FUgIgejJvrHuLWqrSMw.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }
/* cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nA30BZHTGu2N_DqssQcMQNQ.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* greek-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nPDoBG10JtAX-GAwn6iwU1Y.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }
/* greek */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nGhQuge17febRYSUkWKdLWA.woff2) format("woff2");
  unicode-range: U+0370-03FF; }
/* vietnamese */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nBBtmDLrZTTOm3p1EhiGCXc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nEV356qNqHCUb41pS3zqMSE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nHm2hrkyco9jQ3NKMXpgOBg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* ╨Ъ╨╛╨┤ ╨┤╨╗╤П ╨┐╨╛╨┤╨║╨╗╤О╤З╨╡╨╜╨╕╤П ╤И╤А╨╕╤Д╤В╨░ ╨▓ /css/stylename.css */
@font-face {
  font-family: "Lato";
  src: url("../fonts/LatoRegular/LatoRegular.eot");
  src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoRegular/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Lato";
  src: url("../fonts/LatoBold/LatoBold.eot");
  src: url("../fonts/LatoBold/LatoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBold/LatoBold.woff") format("woff"), url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600; }
@font-face {
  font-family: "Lato";
  src: url("../fonts/LatoItalic/LatoItalic.eot");
  src: url("../fonts/LatoItalic/LatoItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoItalic/LatoItalic.woff") format("woff"), url("../fonts/LatoItalic/LatoItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal; }
@font-face {
  font-family: "Lato";
  src: url("../fonts/LatoLight/LatoLight.eot");
  src: url("../fonts/LatoLight/LatoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLight/LatoLight.woff") format("woff"), url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: "Lato";
  src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot");
  src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBoldItalic/LatoBoldItalic.woff") format("woff"), url("../fonts/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 600; }
@font-face {
  font-family: "Lato";
  src: url("../fonts/LatoLightItalic/LatoLightItalic.eot");
  src: url("../fonts/LatoLightItalic/LatoLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"), url("../fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300; }
body {
  font-family: 'Lato', 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 100%; }

a {
  text-decoration: none; }

html, body {
  height: 100%; }

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 76px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 3; }
  .header.scrolled {
    background-color: #fff; }
    .header.scrolled .menu .items .item a {
      color: #000; }
      .header.scrolled .menu .items .item a:hover, .header.scrolled .menu .items .item a.active {
        border-color: #000; }
    .header.scrolled .phone-info {
      color: #000; }
      .header.scrolled .phone-info .phone-links, .header.scrolled .phone-info .email {
        color: #000; }
        .header.scrolled .phone-info .phone-links a, .header.scrolled .phone-info .email a {
          color: #000; }
  .header .menu .items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row; }
    .header .menu .items .item a {
      font-size: 16px;
      color: #fff;
      border-bottom: 1px solid transparent;
      padding: 5px 10px;
      text-decoration: none; }
      .header .menu .items .item a:hover, .header .menu .items .item a.active {
        border-color: #fff; }
  .header .social-links {
    width: 120px;
    min-width: 120px;
    font-size: 0; }
    .header .social-links .item {
      display: inline-block; }
      .header .social-links .item a {
        display: block; }
  .header .phone-info {
    color: #fff;
    min-width: 180px; }
    .header .phone-info .phone-number {
      font-size: 20px;
      line-height: 150%;
      font-weight: 600; }
    .header .phone-info .phone-links, .header .phone-info .email {
      font-size: 14px;
      line-height: 150%;
      color: #adccf5; }
      .header .phone-info .phone-links a, .header .phone-info .email a {
        color: #adccf5; }

.block {
  width: 100%;
  float: left; }
  .block .container-box {
    width: 1200px;
    margin: 0 auto; }

.block--first-about {
  background-image: url("../images/bg-block--first-about.jpg");
  height: 100vh;
  min-height: 638px;
  padding-top: 100px;
  position: relative; }
  .block--first-about .container-box {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
  .block--first-about .video-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1; }
    .block--first-about .video-container video {
      width: 100%;
      min-height: 100%; }
  .block--first-about .popup-info {
    background-color: rgba(45, 79, 125, 0.8);
    padding: 60px 48px;
    color: #fff;
    line-height: 100%;
    width: 50%; }
    .block--first-about .popup-info .title {
      font-size: 60px;
      font-weight: 500;
      color: #fff;
      line-height: 100%;
      margin-bottom: 12px; }
    .block--first-about .popup-info .sub-title {
      font-size: 18px;
      color: #438ef4;
      line-height: 100%;
      margin-bottom: 40px;
      padding-right: 32px; }
    .block--first-about .popup-info .description {
      font-size: 22px;
      font-weight: 300;
      line-height: 100%;
      margin-bottom: 40px; }
  .block--first-about .arrow-action {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 36px;
    width: 52px; }

.block--block-two {
  background-image: url("../images/bg1.jpg");
  background-size: cover;
  height: 100vh;
  min-height: 638px; }
  .block--block-two .box-text {
    background-color: #fff;
    width: 75%;
    padding: 80px 48px 50px; }
    .block--block-two .box-text > * {
      position: relative;
      z-index: 2; }
    .block--block-two .box-text .title {
      font-family: 'Roboto Condensed', 'Roboto', sans-serif;
      font-size: 48px;
      font-weight: 500;
      line-height: 100%;
      color: #094ca5;
      letter-spacing: -1px;
      margin-bottom: 30px; }
    .block--block-two .box-text .description {
      font-size: 17px;
      color: #474c53;
      line-height: 125%;
      text-align: center; }
    .block--block-two .box-text.last {
      background-color: #F0F4F7;
      padding-top: 40px; }
      .block--block-two .box-text.last .title {
        font-size: 32px;
        color: #094ca5;
        margin-bottom: 12px; }
  .block--block-two .action-box {
    margin: -24px 0;
    text-align: center;
    width: 75%; }
  .block--block-two .number-box .items {
    display: flex;
    align-items: center;
    justify-content: center; }
    .block--block-two .number-box .items .item {
      width: 120px;
      margin: 0 20px; }
      .block--block-two .number-box .items .item .counts .number {
        background-color: #fff;
        font-size: 50px;
        line-height: 100%;
        margin: 5px 2px 10px 2px;
        padding: 4px 3px;
        color: #000;
        display: block;
        float: left;
        -webkit-border-radius: 3px;
        -khtml-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
        -khtml-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
        -ms-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
        -o-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2); }
      .block--block-two .number-box .items .item .text {
        font-size: 12px;
        font-weight: 600;
        color: #747f8e;
        line-height: 125%;
        width: 100%;
        text-align: center;
        float: left; }
  .block--block-two .img-element.img-element-1 {
    top: 75px;
    left: -10px;
    max-width: 200px; }
  .block--block-two .img-element.img-element-2 {
    bottom: 0;
    left: 10px;
    max-width: 200px; }
  .block--block-two .img-element.img-element-3 {
    top: 100px;
    right: 10px;
    max-width: 200px; }
  .block--block-two .img-element.img-element-4 {
    bottom: 120px;
    right: 22%;
    max-width: 120px;
    z-index: 1; }
  .block--block-two .img-element.img-element-5 {
    bottom: 0;
    right: 10%;
    max-width: 250px; }
  .block--block-two .img-element.img-element-6 {
    bottom: 50px;
    right: 5%;
    max-width: 90px; }

.block--block-two .title,
.block--block-three .title,
.block--block-four .title {
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 100%;
  color: #094ca5;
  letter-spacing: -1px; }
.block--block-two .img-element,
.block--block-three .img-element,
.block--block-four .img-element {
  position: absolute; }
  .block--block-two .img-element img,
  .block--block-three .img-element img,
  .block--block-four .img-element img {
    max-width: 100%; }

.block--block-three {
  background-image: url("../images/bg2.jpg");
  background-size: cover;
  height: 100vh;
  min-height: 638px;
  padding-top: 150px; }
  .block--block-three .text-box {
    width: 60%;
    float: right; }
    .block--block-three .text-box > * {
      position: relative;
      z-index: 2; }
  .block--block-three .description {
    font-size: 18px;
    line-height: 100%;
    color: #474c53;
    margin-bottom: 20px; }
  .block--block-three .title {
    margin-bottom: 36px; }
  .block--block-three .sub-title {
    font-family: 'Roboto Condensed', 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 100%;
    color: #094ca5; }
  .block--block-three .btn {
    margin: 36px 0;
    width: 290px;
    height: 50px; }
  .block--block-three .circle-items .circle-item {
    background-color: #004BA9;
    width: 154px;
    height: 154px;
    color: #fff;
    float: left;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
    .block--block-three .circle-items .circle-item:last-child {
      margin-right: 0; }
    .block--block-three .circle-items .circle-item .icon-item {
      margin-bottom: 10px;
      height: 55px; }
    .block--block-three .circle-items .circle-item .title-text {
      font-family: 'Roboto Condensed', 'Roboto', sans-serif;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: -1px;
      text-align: center; }
  .block--block-three .img-element.img-element-1 {
    top: 21%;
    left: 12%;
    max-width: 82px;
    z-index: 1; }
  .block--block-three .img-element.img-element-2 {
    bottom: 9%;
    left: 10%;
    max-width: 280px; }
  .block--block-three .img-element.img-element-3 {
    top: 20%;
    left: 15%;
    max-width: 250px; }
  .block--block-three .img-element.img-element-4 {
    top: 15%;
    left: 25%;
    max-width: 150px;
    z-index: -1; }
  .block--block-three .img-element.img-element-5 {
    bottom: 25%;
    left: 28%;
    max-width: 170px; }
  .block--block-three .img-element.img-element-6 {
    top: 21%;
    right: 18%;
    max-width: 130px; }
  .block--block-three .img-element.img-element-7 {
    top: 16%;
    right: 7%;
    max-width: 110px; }
  .block--block-three .img-element.img-element-8 {
    top: 55%;
    right: 4%;
    max-width: 100px; }

.block--block-four {
  background-image: url("../images/bg3.jpg");
  background-size: cover;
  height: 100vh;
  min-height: 638px; }
  .block--block-four .container-box, .block--block-four .box {
    height: 100%; }
  .block--block-four .box {
    background-color: #F0F4F7;
    width: 60%;
    height: 100%;
    float: left; }
  .block--block-four .form-box > *, .block--block-four .form-info-box > * {
    position: relative;
    z-index: 2; }
  .block--block-four .form-box {
    background-color: #fff;
    padding: 60px 80px; }
  .block--block-four .form-info-box {
    background-color: #F0F4F7;
    padding: 40px 80px; }
  .block--block-four .title {
    margin-bottom: 12px; }
  .block--block-four .description {
    font-size: 18px;
    line-height: 100%;
    color: #474c53;
    margin-bottom: 20px; }
  .block--block-four .btn {
    height: 50px; }
  .block--block-four .form-box .form-group {
    margin-bottom: 13px; }
  .block--block-four .link a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 12px;
    font-size: 16px;
    color: #2372dc;
    text-decoration: underline; }
    .block--block-four .link a:hover {
      text-decoration: none; }
  .block--block-four .link i {
    display: inline-block !important;
    margin-right: 10px; }
  .block--block-four .link.last a {
    margin-bottom: 0; }
  .block--block-four .img-element {
    z-index: 1; }
    .block--block-four .img-element.img-element-1 {
      top: 75px;
      left: 1%;
      max-width: 100px; }
    .block--block-four .img-element.img-element-2 {
      top: 27%;
      left: 4%;
      max-width: 85px; }
    .block--block-four .img-element.img-element-3 {
      top: 50%;
      left: 3%;
      max-width: 56px; }
    .block--block-four .img-element.img-element-4 {
      bottom: 15%;
      left: 7%;
      max-width: 55px; }
    .block--block-four .img-element.img-element-5 {
      top: 75px;
      right: 33%;
      max-width: 84px; }
    .block--block-four .img-element.img-element-6 {
      top: 23%;
      right: 35%;
      max-width: 100px; }
    .block--block-four .img-element.img-element-7 {
      bottom: 0;
      right: 33%;
      max-width: 150px; }
    .block--block-four .img-element.img-element-8 {
      top: 22%;
      right: 12%;
      max-width: 60px; }
    .block--block-four .img-element.img-element-9 {
      bottom: 0;
      right: 12%;
      max-width: 400px; }
    .block--block-four .img-element.img-element-10 {
      top: 37%;
      right: 6%;
      max-width: 112px; }
    .block--block-four .img-element.img-element-11 {
      bottom: 2%;
      right: 1%;
      max-width: 240px; }

.block--blog, .block--reviews {
  padding: 80px 0 20px; }
  .block--blog .video-container, .block--reviews .video-container {
    position: absolute;
    left: 0;
    top: 76px;
    right: 0;
    bottom: 0;
    z-index: -1; }
    .block--blog .video-container video, .block--reviews .video-container video {
      width: 100%;
      min-height: 100%; }
  .block--blog .list-article .item-article, .block--reviews .list-article .item-article {
    width: 100%;
    float: left;
    margin-bottom: 40px;
    padding-right: 150px; }
    .block--blog .list-article .item-article .image, .block--reviews .list-article .item-article .image {
      width: 226px;
      float: left; }
      .block--blog .list-article .item-article .image .circle, .block--reviews .list-article .item-article .image .circle {
        width: 186px;
        height: 186px;
        display: block;
        overflow: hidden;
        -webkit-border-radius: 50%;
        -khtml-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%; }
        .block--blog .list-article .item-article .image .circle img, .block--reviews .list-article .item-article .image .circle img {
          min-width: 100%;
          min-height: 100%; }
    .block--blog .list-article .item-article .content, .block--reviews .list-article .item-article .content {
      width: calc(100% - 226px);
      float: left; }
      .block--blog .list-article .item-article .content .title, .block--blog .list-article .item-article .content .description, .block--blog .list-article .item-article .content .action, .block--reviews .list-article .item-article .content .title, .block--reviews .list-article .item-article .content .description, .block--reviews .list-article .item-article .content .action {
        width: 100%;
        float: left; }
      .block--blog .list-article .item-article .content .title, .block--reviews .list-article .item-article .content .title {
        font-family: 'Roboto Condensed', 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 100%;
        color: #094ca5;
        letter-spacing: -1px;
        margin-bottom: 20px; }
      .block--blog .list-article .item-article .content .name, .block--reviews .list-article .item-article .content .name {
        font-family: 'Roboto Condensed', 'Roboto', sans-serif;
        font-size: 19px;
        font-weight: 600;
        line-height: 100%;
        color: #3a455e;
        margin-bottom: 10px; }
      .block--blog .list-article .item-article .content .description, .block--reviews .list-article .item-article .content .description {
        color: #3a455e;
        font-size: 19px;
        line-height: 125%;
        margin-bottom: 40px; }
      .block--blog .list-article .item-article .content .action, .block--reviews .list-article .item-article .content .action {
        margin-bottom: 16px; }

.block--corporate-first {
  background-color: #000;
  height: 100vh;
  min-height: 638px; }

.block--corporate-two {
  background-image: url("../images/bg-block--corporate-two.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 1068px;
  padding-bottom: 60px; }
  .block--corporate-two .title {
    font-family: 'Roboto Condensed', 'Roboto', sans-serif;
    font-size: 58px;
    font-weight: 600;
    line-height: 100%;
    color: #fff;
    text-align: center;
    margin: 60px 0 50px; }
  .block--corporate-two .list .item {
    width: 100%;
    float: left; }
    .block--corporate-two .list .item.right .img, .block--corporate-two .list .item.right .text {
      float: right; }
    .block--corporate-two .list .item .img, .block--corporate-two .list .item .text {
      width: 50%;
      height: 272px;
      float: left; }
    .block--corporate-two .list .item .img img {
      min-width: 100%;
      min-height: 100%; }
    .block--corporate-two .list .item .text {
      background-color: rgba(0, 44, 90, 0.8);
      font-size: 18px;
      color: #fff;
      text-align: center;
      padding: 40px 36px;
      line-height: 125%; }

.block--gallery .col-25, .block--gallery .col-50 {
  float: left;
  height: calc(50vh - 38px);
  overflow: hidden;
  position: relative; }
  .block--gallery .col-25 img, .block--gallery .col-25 iframe, .block--gallery .col-50 img, .block--gallery .col-50 iframe {
    min-width: 100%;
    max-width: 105%;
    min-height: calc(50vh - 36px);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .block--gallery .col-25 .link-video, .block--gallery .col-50 .link-video {
    background-color: #fff;
    width: 66px;
    height: 66px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    z-index: 1; }
    .block--gallery .col-25 .link-video:before, .block--gallery .col-50 .link-video:before {
      content: '';
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 14px solid #004BA9;
      width: 14px;
      height: 10px;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto; }
.block--gallery .col-25 {
  width: 25%; }
.block--gallery .col-50 {
  width: 50%; }

.slider-box,
.slider-box .slick-list,
.slider-box .slick-track,
.slider-box .item-slider {
  height: 100%; }
.slider-box .item-slider {
  position: relative; }
  .slider-box .item-slider .container-box {
    position: relative;
    color: #fff;
    z-index: 2; }
    .slider-box .item-slider .container-box .content-box {
      padding-top: 100px; }
    .slider-box .item-slider .container-box .title, .slider-box .item-slider .container-box .sub-title, .slider-box .item-slider .container-box .description {
      font-family: 'Roboto Condensed', 'Roboto', sans-serif;
      font-weight: 500;
      line-height: 100%; }
    .slider-box .item-slider .container-box .title {
      font-size: 58px; }
    .slider-box .item-slider .container-box .sub-title {
      font-size: 40px; }
    .slider-box .item-slider .container-box .description {
      font-size: 18px;
      margin-bottom: 10px; }
  .slider-box .item-slider .image {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; }
    .slider-box .item-slider .image img {
      max-width: 100%; }
.slider-box .slick-arrow {
  position: absolute;
  width: 62px;
  height: 62px;
  background-color: #fff;
  top: 0;
  bottom: 0;
  margin: auto;
  border: none;
  text-indent: -9999px;
  z-index: 1;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }
  .slider-box .slick-arrow:after, .slider-box .slick-arrow:before {
    content: '';
    background-color: #004572;
    width: 18px;
    height: 3px;
    display: block;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0; }
  .slider-box .slick-arrow:after {
    margin-top: -1px; }
  .slider-box .slick-arrow:before {
    margin-top: 0; }
.slider-box .slick-prev {
  left: 5px; }
  .slider-box .slick-prev:after {
    -webkit-transform: rotate(45deg);
    -khtml-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .slider-box .slick-prev:before {
    -webkit-transform: rotate(-45deg);
    -khtml-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .slider-box .slick-prev:after, .slider-box .slick-prev:before {
    right: 4px; }
.slider-box .slick-next {
  right: 5px; }
  .slider-box .slick-next:after {
    -webkit-transform: rotate(-45deg);
    -khtml-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .slider-box .slick-next:before {
    -webkit-transform: rotate(45deg);
    -khtml-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .slider-box .slick-next:after, .slider-box .slick-next:before {
    left: 4px; }
.slider-box .slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20%;
  width: 1200px;
  margin: auto; }
  .slider-box .slick-dots li {
    display: block;
    float: left;
    margin-right: 7px; }
    .slider-box .slick-dots li button {
      background-color: #004572;
      border: 3px solid transparent;
      text-indent: -9999px;
      display: block;
      width: 15px;
      height: 15px;
      padding: 0;
      -webkit-border-radius: 50%;
      -khtml-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }
    .slider-box .slick-dots li.active button, .slider-box .slick-dots li:hover button {
      background-color: #fff;
      border-color: #004572; }

.footer {
  background-color: #D5D8E5;
  width: 100%;
  height: 88px;
  margin-top: -88px;
  float: left; }
  .footer .container-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; }
  .footer .copyright-text {
    text-align: center;
    padding: 0 280px; }
  .footer .social-links {
    width: 280px;
    min-width: 280px;
    font-size: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 50px; }
    .footer .social-links .item {
      display: inline-block;
      margin-right: 26px; }
      .footer .social-links .item:last-child {
        margin-right: 0; }
      .footer .social-links .item a {
        display: block; }

.wrapper {
  height: 100%; }
  .wrapper .context {
    padding-top: 78px;
    padding-bottom: 20px;
    margin-bottom: 88px;
    min-height: calc(100% - 88px);
    width: 100%;
    float: left; }
  .wrapper.page-scroll .context {
    padding-top: 0;
    padding-bottom: 0; }

body.cube-transition {
  overflow: hidden;
  height: 100%; }

#cubeTransition {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

#cubeTransition > div {
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  font-size: 5em;
  color: #fff;
  visibility: hidden;
  transition: opacity 5ms; }

.visible {
  visibility: visible !important; }

.rotateCubeTopOut {
  transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  animation: rotateCubeTopOut .6s both ease-in;
  -webkit-animation: rotateCubeTopOut .6s both ease-in; }

.rotateCubeTopIn {
  transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  animation: rotateCubeTopIn .6s both ease-in;
  -webkit-animation: rotateCubeTopIn .6s both ease-in; }

.rotateCubeBottomOut {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: rotateCubeBottomOut .6s both ease-in;
  animation: rotateCubeBottomOut .6s both ease-in; }

.rotateCubeBottomIn {
  transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -webkit-animation: rotateCubeBottomIn .6s both ease-in;
  animation: rotateCubeBottomIn .6s both ease-in; }

@keyframes rotateCubeTopOut {
  50% {
    animation-timing-function: ease-out;
    transform: translateY(-50%) translateZ(-200px) rotateX(45deg); }
  100% {
    opacity: .3;
    transform: translateY(-100%) rotateX(90deg); } }
@-webkit-keyframes rotateCubeTopOut {
  50% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateY(-50%) translateZ(-200px) rotateX(45deg); }
  100% {
    opacity: .3;
    -webkit-transform: translateY(-100%) rotateX(90deg); } }
@keyframes rotateCubeTopIn {
  0% {
    opacity: .3;
    transform: translateY(100%) rotateX(-90deg); }
  50% {
    animation-timing-function: ease-out;
    transform: translateY(50%) translateZ(-200px) rotateX(-45deg); } }
@-webkit-keyframes rotateCubeTopIn {
  0% {
    opacity: .3;
    -webkit-transform: translateY(100%) rotateX(-90deg); }
  50% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateY(50%) translateZ(-200px) rotateX(-45deg); } }
@keyframes rotateCubeBottomOut {
  50% {
    animation-timing-function: ease-out;
    transform: translateY(50%) translateZ(-200px) rotateX(-45deg); }
  100% {
    opacity: .3;
    transform: translateY(100%) rotateX(-90deg); } }
@-webkit-keyframes rotateCubeBottomOut {
  50% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateY(50%) translateZ(-200px) rotateX(-45deg); }
  100% {
    opacity: .3;
    -webkit-transform: translateY(100%) rotateX(-90deg); } }
@keyframes rotateCubeBottomIn {
  0% {
    opacity: .3;
    transform: translateY(-100%) rotateX(90deg); }
  50% {
    animation-timing-function: ease-out;
    transform: translateY(-50%) translateZ(-200px) rotateX(45deg); } }
@-webkit-keyframes rotateCubeBottomIn {
  0% {
    opacity: .3;
    -webkit-transform: translateY(-100%) rotateX(90deg); }
  50% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateY(-50%) translateZ(-200px) rotateX(45deg); } }
#bullets {
  position: absolute;
  width: 100%;
  bottom: 20px;
  padding: 0;
  margin: 0;
  text-align: center; }

#bullets li {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 3px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }

#bullets li:hover {
  background: rgba(255, 255, 255, 0.8); }

#bullets li.active {
  cursor: default;
  background: #fff; }

.form-control {
  background-color: #F1F1F1;
  border: 1px solid #F1F1F1;
  height: 54px;
  font-size: 20px;
  -webkit-box-shadow: none;
  -khtml-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .form-control:focus {
    border: 1px solid #F1F1F1;
    -webkit-box-shadow: none;
    -khtml-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }

textarea.form-control {
  height: 115px;
  resize: none; }

.btn {
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  .btn i.icon {
    display: inline-block !important;
    vertical-align: inherit;
    margin-right: 5px; }
  .btn.btn-blue {
    background-color: #2372dc;
    color: #fff;
    -webkit-box-shadow: 0 3px 10px rgba(0, 87, 185, 0.3);
    -khtml-box-shadow: 0 3px 10px rgba(0, 87, 185, 0.3);
    -moz-box-shadow: 0 3px 10px rgba(0, 87, 185, 0.3);
    -ms-box-shadow: 0 3px 10px rgba(0, 87, 185, 0.3);
    -o-box-shadow: 0 3px 10px rgba(0, 87, 185, 0.3);
    box-shadow: 0 3px 10px rgba(0, 87, 185, 0.3); }
    .btn.btn-blue:hover {
      background-color: #0057B9;
      -webkit-box-shadow: 0 3px 10px rgba(0, 87, 185, 0.5);
      -khtml-box-shadow: 0 3px 10px rgba(0, 87, 185, 0.5);
      -moz-box-shadow: 0 3px 10px rgba(0, 87, 185, 0.5);
      -ms-box-shadow: 0 3px 10px rgba(0, 87, 185, 0.5);
      -o-box-shadow: 0 3px 10px rgba(0, 87, 185, 0.5);
      box-shadow: 0 3px 10px rgba(0, 87, 185, 0.5); }
  .btn.btn-white {
    background-color: #fff;
    color: #2372dc;
    -webkit-box-shadow: 0 3px 10px rgba(0, 87, 185, 0.3);
    -khtml-box-shadow: 0 3px 10px rgba(0, 87, 185, 0.3);
    -moz-box-shadow: 0 3px 10px rgba(0, 87, 185, 0.3);
    -ms-box-shadow: 0 3px 10px rgba(0, 87, 185, 0.3);
    -o-box-shadow: 0 3px 10px rgba(0, 87, 185, 0.3);
    box-shadow: 0 3px 10px rgba(0, 87, 185, 0.3); }
    .btn.btn-white:hover {
      -webkit-box-shadow: 0 3px 10px rgba(0, 87, 185, 0.5);
      -khtml-box-shadow: 0 3px 10px rgba(0, 87, 185, 0.5);
      -moz-box-shadow: 0 3px 10px rgba(0, 87, 185, 0.5);
      -ms-box-shadow: 0 3px 10px rgba(0, 87, 185, 0.5);
      -o-box-shadow: 0 3px 10px rgba(0, 87, 185, 0.5);
      box-shadow: 0 3px 10px rgba(0, 87, 185, 0.5); }
  .btn.btn-sm {
    padding: 16px 20px; }
  .btn.btn-xs {
    padding: 12px 16px; }

.icon.icon-logo.white {
  background-image: url("../images/logo-white.png");
  background-repeat: no-repeat;
  display: block;
  width: 250px;
  height: 38px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon.icon-logo.white {
      background-image: url("../images/logo-white.png");
      background-size: 250px 38px;
      background-repeat: no-repeat; } }
.icon.icon-logo.black {
  background-image: url("../images/logo-black.png");
  background-repeat: no-repeat;
  display: block;
  width: 250px;
  height: 38px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon.icon-logo.black {
      background-image: url("../images/logo-black.png");
      background-size: 250px 38px;
      background-repeat: no-repeat; } }
.icon.icon-arrow-down.white {
  background-image: url("../images/icon-arrow-down-white.png");
  background-repeat: no-repeat;
  display: block;
  width: 52px;
  height: 31px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon.icon-arrow-down.white {
      background-image: url("../images/icon-arrow-down-white.png");
      background-size: 52px 31px;
      background-repeat: no-repeat; } }
.icon.icon-book.blue {
  background-image: url("../images/icon-book-blue.png");
  background-repeat: no-repeat;
  display: block;
  width: 19px;
  height: 24px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon.icon-book.blue {
      background-image: url("../images/icon-book-blue.png");
      background-size: 19px 24px;
      background-repeat: no-repeat; } }
.icon.icon-radio.white {
  background-image: url("../images/icon-radio-white.png");
  background-repeat: no-repeat;
  display: block;
  width: 49px;
  height: 46px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon.icon-radio.white {
      background-image: url("../images/icon-radio-white.png");
      background-size: 49px 46px;
      background-repeat: no-repeat; } }
.icon.icon-duet.white {
  background-image: url("../images/icon-duet-white.png");
  background-repeat: no-repeat;
  display: block;
  width: 42px;
  height: 55px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon.icon-duet.white {
      background-image: url("../images/icon-duet-white.png");
      background-size: 42px 55px;
      background-repeat: no-repeat; } }
.icon.icon-i-gland.white {
  background-image: url("../images/icon-i-gland-white.png");
  background-repeat: no-repeat;
  display: block;
  width: 48px;
  height: 46px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon.icon-i-gland.white {
      background-image: url("../images/icon-i-gland-white.png");
      background-size: 48px 46px;
      background-repeat: no-repeat; } }
.icon.icon-link.white {
  background-image: url("../images/icon-link-white.png");
  background-repeat: no-repeat;
  display: block;
  width: 26px;
  height: 26px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon.icon-link.white {
      background-image: url("../images/icon-link-white.png");
      background-size: 26px 26px;
      background-repeat: no-repeat; } }
.icon.icon-pdf-file {
  background-image: url("../images/icon-pdf-file.png");
  background-repeat: no-repeat;
  display: block;
  width: 27px;
  height: 28px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon.icon-pdf-file {
      background-image: url("../images/icon-pdf-file.png");
      background-size: 27px 28px;
      background-repeat: no-repeat; } }
.icon.icon-social-link {
  display: block;
  width: 35px;
  height: 32px;
  background: url("../images/icons-social.png") 0 0 no-repeat;
  -webkit-transition: all 0.4s ease-in-ou;
  -khtml-transition: all 0.4s ease-in-ou;
  -moz-transition: all 0.4s ease-in-ou;
  -ms-transition: all 0.4s ease-in-ou;
  -o-transition: all 0.4s ease-in-ou;
  transition: all 0.4s ease-in-ou; }
  .icon.icon-social-link:hover {
    -webkit-transition: all 0.4s ease-in-ou;
    -khtml-transition: all 0.4s ease-in-ou;
    -moz-transition: all 0.4s ease-in-ou;
    -ms-transition: all 0.4s ease-in-ou;
    -o-transition: all 0.4s ease-in-ou;
    transition: all 0.4s ease-in-ou; }
  .icon.icon-social-link.black {
    background-image: url("../images/icons-social-black.png"); }
  .icon.icon-social-link.vk {
    background-position: 0 4px; }
    .icon.icon-social-link.vk:hover {
      background-position: 0 -36px; }
  .icon.icon-social-link.fb {
    background-position: -41px 2px;
    width: 22px; }
    .icon.icon-social-link.fb:hover {
      background-position: -41px -38px; }
  .icon.icon-social-link.ig {
    background-position: -67px 3px;
    width: 31px; }
    .icon.icon-social-link.ig:hover {
      background-position: -67px -37px; }
  .icon.icon-social-link.yo {
    background-position: -106px 3px;
    width: 30px; }
    .icon.icon-social-link.yo:hover {
      background-position: -106px -37px; }
.icon.icon-social-link--footer {
  width: 50px;
  height: 50px;
  display: block;
  background: url("../images/footer_icns.png") 0 0 no-repeat; }
  .icon.icon-social-link--footer.vk {
    background-position: 0px 0; }
  .icon.icon-social-link--footer.fb {
    background-position: -78px 0; }
  .icon.icon-social-link--footer.ig {
    background-position: -156px 0; }
  .icon.icon-social-link--footer.yo {
    background-position: -232px 0; }

/*# sourceMappingURL=main.css.map */
