@import "mixins/mixins";

@media (max-width: 1920px) {
  .header {
    padding: 0 24px;
  }
}

@media (max-width: 1366px) {
  .header {
    padding: 0 8px;
    .menu {
      .items {
        .item {
          a {
            font-size: 14px;
            padding: 5px 6px;
          }
        }
      }
    }
    .phone-info {
      .phone-number {
        font-size: 18px;
      }
      .phone-links, .email {
        font-size: 13px;
      }
    }
  }
  .block--block-two,
  .block--block-three {
    .title {
      font-size: 40px;
    }
  }
  .block--block-two {
    .box-text {
      padding: 70px 48px 40px 48px;
      .title {
        font-size: 40px;
        margin-bottom: 20px;
      }
      .description {
        font-size: 15px;
      }
      &.last {
        padding-top: 34px;
        .title {
          font-size: 28px;
          margin-bottom: 10px;
        }
      }
    }
  }
  .block--block-three {
    padding-top: 75px;
    .title {
      margin-bottom: 20px;
    }
    .description {
      margin-bottom: 10px;
    }
    .btn {
      margin: 20px 0;
    }
  }
  .block--block-four {
    padding-top: 30px;
    .form-box {
      padding: 40px 80px;
    }
    .form-info-box {
      padding: 20px 80px;
    }
  }
}

@media (max-width: 1280px) {

  .header {
    .menu {
      .items {
        .item {
          a {
            font-size: 13px;
            padding: 5px;
          }
        }
      }
    }
    .phone-info {
      min-width: 155px;
      .phone-number {
        font-size: 16px;
      }
      .phone-links, .email {
        font-size: 12px;
      }
    }
  }

  .icon.icon-logo {
    background-size: cover !important;
    width: 180px !important;
    height: 27px !important;
  }

  .block {
    .container-box {
      width: 100%;
      padding: 0 20px;
    }
  }
  .block--wedding-two, .block--wedding-three {
    .box-text {
      padding: 48px 20px;
    }
  }

  .slider-box {
    .item-slider {
      .container-box {
        .content-box {
          padding-top: 80px;
          padding-left: 80px;
          padding-right: 80px;
        }
      }
    }
    .slick-dots {
      width: 100%;
      padding-left: 80px;
      padding-right: 80px;
    }
  }

  .btn {
    font-size: 13px;
  }

}

@media (max-width: 1024px) {

  .icon.icon-logo {
    background-size: cover !important;
    width: 160px !important;
    height: 23px !important;
  }
  .header {
    .menu {
      .items {
        .item {
          a {
            font-size: 12px;
            padding: 3px;
          }
        }
      }
    }
    .phone-info {
      min-width: 145px;
      .phone-number {
        font-size: 14px;
      }
      .phone-links, .email {
        font-size: 11px;
      }
    }
    .btn.btn-xs {
      font-size: 12px;
      padding: 8px 6px;
    }
  }

  body.cube-transition {
    overflow: auto;
  }

  .block--first-about {
    .popup-info {
      padding: 25px 32px;
      .title {
        font-size: 46px;
      }
      .description {
        font-size: 18px;
        margin-bottom: 20px;
      }
    }
  }

  .block--block-two {
    .action-box, .box-text {
      width: 100%;
    }
    .box-text {
      padding: 24px 32px;
    }
  }

  .block--block-three {
    padding-top: 24px;
    .title {
      font-size: 32px;
    }
    .sub-title {
      font-size: 28px;
    }
  }
  .block--block-four {
    .title {
      font-size: 32px;
    }
    .form-box {
      padding: 32px 48px;
    }
  }
  .block--wedding-two, .block--wedding-three {
    .content-box {
      .context {
        .container-box {
          width: 100%;
          padding: 48px 24px;
        }
        .list.list-icon {
          .icon {
            width: 50px;
          }
          .text {
            width: calc(100% - 50px);
          }
        }
      }
    }
  }
  .block--blog, .block--reviews {
    padding: 48px 0 20px;
    .list-article {
      .item-article {
        .image {
          width: 180px;
          .circle {
            width: 140px;
            height: 140px;
          }
        }
        .content {
          width: calc(100% - 180px);
          .description {
            font-size: 16px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .footer {
    .social-links {
      .item {
        margin-right: 12px;
      }
    }
  }

  .slider-box {
    .item-slider {
      .container-box {
        .title {
          font-size: 48px;
        }
        .sub-title {
          font-size: 32px;
        }
        .description {
          font-size: 16px;
          margin-bottom: 10px;
        }
      }
    }
  }

  #cubeTransition {
    min-height: 100%;
    height: inherit;
    > div {
      min-height: 560px;
      height: initial;
      width: 100%;
      position: relative;
      visibility: visible;
    }
  }

}

@media (max-width: 992px) {
  .block--first-about {
    background-image: url('../images/bg-block--first-about-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height:inherit;
    padding-top: 80px;
    .popup-info {
      background-color: transparent;
      width: 100%;
      .title {
        font-size: 32px;
        text-align: right;
      }
      .sub-title {
        font-size: 10px;
        padding-right: 0;
      }
      .description {
        font-size: 16px;
      }
    }
    .video-container {
      display: none;
    }
  }
}

